 <div class="mt-3">
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="text-bg">
                     <h1>Tu viaje esta a punto de comenzar</h1>
                     <strong>Aventuras todas las semanas</strong>
                     <span>Mas de 10 años de experiencia</span>
                     <p>
                        Somos un equipo de profesionales amantes de la vida en la naturaleza dispuestos a enfrentarnos a todo tipo de aventuras. Realizamos trekking para principiantes y avanzados por toda Argentina. 
                       
                        <head></head>
                     </p>
                     <a href="http://localhost:3000/registro">Comienza</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
</div>
