<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
       <script src="https://kit.fontawesome.com/8e65694e5c.js" crossorigin="anonymous"></script>

  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">M trekking</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="./">Home</a>
                  <a class="nav-link" href="#">Calendario Anual</a>
                  <a class="nav-link" href="#">Viajes</a>
                  <a class="nav-link" href="#">Blog</a>
                  <a class="nav-link" href="./productos">Tienda</a>
                </div>
              </div>
            </div>
            <a href="./registro"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Registrarse</button></a>
            <a href="./login"><button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ingresar</button></a>
          </nav>

    {{{body}}}

  </body>
</html>
