<div class="container" >
    <div class="row row-cols-3">
        {{#each productos}}
    <div class= "col mt-3" >
        <div class="card" style="width: 18rem;">
        <img src="{{imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"> {{nombre}}</h4>
            <p class="card-text">${{precio}}</p>
            <a href="productos/single/{{id}}" class="btn btn-primary">Comprar<i class="fas fa-eye"></i></a>
        </div>
        </div>
    </div>
        {{/each}}
    </div> 
       
</div>
